:root {
  --accent-color: #2e2f42;
  --seccondary-color: #434455;
  --third-color: #f4f4fd;
  --main-color: #ffffff;
  --logo-color: #4d5ae5;
  --focus-color: #404bbf;
}
body {
  background-color: var(--main-color);
  font-family: 'Roboto', sans-serif;
  color: var (--seccondary-color);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 0.86;
  color: var(--accent-color);
}
.span-logo {
  color: var(--logo-color);
}
.menu-link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 0.67;
  letter-spacing: 0.02em;
  color: var (var(--accent-color));
}
.menu-link:hover,
.menu-link:focus {
  color: var(--focus-color);
}
.address-link {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 0.67;
  color: var(--seccondary-color);
}
.address-link:hover,
.address-link:focus {
  color: var(--focus-color);
}

/* .site-nav .link {
  color: #2e2f42;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: #404bbf;
}
.section-title {
  color: #2e2f42;
} */

/*  .address .link:hover,
.address .link:focus {
  color: #404bbf;
}*/

/* вторинний колір
1 сектор
#2E2F42
4 сектор
#F4F4FD



шрифт
#434455 SLATE

NAVY BLUE
#2E2F42

WHITE
#FFFFFF

web 
IRIS
#4D5AE5
*/
